{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2
}
